{% extends "index.html" %}

{% block content %}
    <div class="container mt-5">
        <form action="" method="POST" class="m-auto w-50 border p-4 text-light">
        {% csrf_token %}
        <label for="">Mevcut Şifre</label>
        <input type="password" name="eski" id="" class="form-control">
        <label for="">Yeni Şifre</label>
        <input type="password" name="yeni" id="" class="form-control">
        <label for="">Yeni Şifre Onay</label>
        <input type="password" name="yeni2" id="" class="form-control">

        <input type="submit" value="Güncelle" class="btn btn-primary mt-2">
        </form>
    </div>
{% endblock content %}